



#header {
    height: auto;
    background-size: cover;
    background-position-y: -120px;
    background-position: center;
    color: #5b7ca1;
    font-size: 1.5em;
    text-align: center;
    line-height: 500px;
    text-shadow: 0px 0px 10px #000;
}

body {
    margin: 0px;
}

h1 {
    margin: 0px;
}
h2 {
    color: #6c4672;
}


#nav a {
    text-decoration: none;
    color: #444;

    /*			background-color: gold;*/

    /*
        810px / 5
        = 162px per nav item
    */
    width: 162px;
    height: 50px;
    /*			display: block;*/

    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid #af94b4;


}
#nav a:hover {
    border-bottom: 2px solid #5c6c9b;
    color: #0e2ea9;
}
#nav {
    display: flex;
    justify-content: center;


    box-shadow: 0px 10px 15px #CCC;
}


#main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: #b7bec6;
    padding: 15px;

    line-height: 25px;
    word-spacing: 3px;
}

.clear{
    float: none;
}

#footer {
    background-color: #777;
    color: #FFF;
    text-align: center;
    height: auto;
    /*line-height: 50px;*/
    font-size: 0.8em;
}


